.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
}

.page-header__logo {
  height: 84px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
  }
}
