
.photo__wrapper {
  width: 320px;
}

.photo__header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;
}

.photo__main-title {
  font-size: 21px;
  font-weight: bold;

  margin-bottom: 42px;
}

.photo__paragraph {
  font-size: 18px;
  line-height: 26px;
  padding: 0;
}

.photo__list {
  @include reset-list();
  font-size: 14px;
}

.photo__item {
  margin-top: 22px;
  border-bottom: 1px solid $grey;
}

.photo__title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.photo__author {
  color: $lightblack;
  margin: 0;
  line-height: 0;
}

.photo__like-link {
  font-weight: bold;
  margin-left: 30px;
}
