.reason__header {
  text-align: center;
}

.reason__wrapper {
  width: 300px;
  margin: 0 auto;
}

.reason__list {
  @include reset-list();
  text-align: center;
}

.reason__item:nth-child(1) {
  background-color: $blue;
  color: $white;
}

.reason__item {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid $grey;
  background-color: #eeeeee;
}

.reason__subtitle {
  font-size: 18px;
}

.reason-features__list {
  list-style: none;
}

.reason-features__item {
  text-transform: uppercase;
}

.reason-features__subtitle {
  font-size: 18px;
}

@media (min-width: 768px) {
  .reason__wrapper {
    width: 768px;
  }

  .reason__item--container {
    display: flex;
  }

  .reason__item:nth-child(n+2) {
    border: none;
  }


  .reason-features__list {
    display: flex;
  }
}

@media (min-width: 1068px) {
  .reason__wrapper {
    width: 960px;
  }
}
